/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Para recortar cualquier parte del texto que se desborde */
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover;
}

.item h2 {
    margin-top: 10px;
    margin-bottom: 5px; /* Separación entre el nombre y el precio */
    overflow: hidden; /* Para recortar el texto que se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.carrito-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.carrito {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: #fff;
    padding: 20px;
    border-left: 2px solid #333;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
}

.carrito h2 {
    margin-top: 0;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    margin-bottom: 10px;
}

.carrito button {
    display: block;
    margin-top: 10px;
}

.formulario-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.formulario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
}

.formulario h2 {
    margin-top: 0;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #45a049;
}

#sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #333;
    transition: left 0.3s ease;
    z-index: 999;
}

.menu-bar {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
}

.menu-bar li {
    padding: 15px;
}

.menu-bar li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu-bar li a:hover {
    color: #55b;
}

.menu-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    background: #333;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Barra de búsqueda */
.search-container {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.search-container input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #45a049;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-container button {
    width: 25%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.search-container button:hover {
    background-color: #3d9140;
}

/* Estilos para los botones de inicio de sesión y registro */
.login-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-btn, .register-btn {
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Espacio entre los botones */
    flex-grow: 1; /* Hace que ambos botones tengan el mismo tamaño */
}

.login-btn:hover {
    background-color: #3d9140;
}

/* Estilos para el título y el logo */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
}

header h1 {
    margin: 0;
    text-align: center;
    margin-right: 10px; /* Ajusta la separación del logo hacia la derecha */
}

header img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}


/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    z-index: 999; 
}
